.napper-admin-datatable {
  @extend .is-block;
  @extend .no-overflow;

  width: 100%;
}

/* ----- THEAD ----- */

.napper-admin-datatable th {
  border-right: 1px solid #eeeeee;
}

.napper-admin-datatable th:last-child {
  border-right: 0;
  border-radius: rem(0 12px 12px 0);
}

.napper-admin-datatable th:first-child {
  border-radius: rem(12px 0 0 12px);
}

.napper-admin-datatable th:only-child,
.napper-admin-datatable th:first-child:last-child {
  border-radius: rem(12px);
}

/* ----- TBODY ----- */

.napper-admin-datatable tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.napper-admin-datatable td:last-child {
  border-right: 0;
}

.napper-admin-datatable table .actions {
  @extend .text-center;

  padding: rem(7px);
}

.napper-admin-datatable table .actions button ~ button {
  margin-left: rem(5px);
}

.napper-admin-datatable table .actions-1 {
  width: rem(8px);
}

.napper-admin-datatable table .actions-2 {
  width: rem(8px);
}

.napper-admin-datatable table .actions-3 {
  width: rem(10px);
}

.napper-admin-datatable table .actions-4 {
  width: rem(10px);
}
