.smartadmin-final-form {
  label {
    @extend .mb12;
    @extend .fs9;
    @extend .is-block;
    @extend .is-full-width;
  }

  textarea,
  input[type='text'] {
    @extend .py7;
    @extend .px12;
    @extend .fs12;
    @extend .mb12;
    @extend .is-block;
    @extend .is-full-width;

    border-radius: 2px;
    border: 1px solid #000000;
  }

  .smartadmin-final-form-label,
  .smartadmin-final-form-inner {
    @extend .is-block;
    @extend .is-full-width;
  }

  .smartadmin-final-form-label {
    @extend .mb7;
  }
}

.smartadmin-final-form-text {
}

.smartadmin-final-form-hidden {
}

/*
.smartadmin-final-form {
  label {
    @extend .is-full-width;
  }

  textarea,
  input[type='text'] {
    @extend .px3;
    @extend .py7;
    @extend .mb7;
    @extend .fs14;
    @extend .is-block;
    @extend .is-full-width;

    border-radius: 4px;
    border: 1px solid #000000;
  }

  &-field {
    @extend .mb12;
    @extend .is-block;
    @extend .is-full-width;
  }

  &-label {
    @extend .fs9;
    @extend .mb7;
    @extend .is-block;
    @extend .is-full-width;
  }

  &-inner {
    @extend .is-block;
    @extend .is-full-width;
  }
}
*/
