@import 'header';
@import 'footer';
@import 'navigation';

#napper-admin-layout {
  @extend .flex-1;
  @extend .is-full-layout;

  // padding-left: $layout-close-width;
  padding-left: $layout-opened-width;
  transition: padding-left 0.5s;

  &.nav-opened {
    padding-left: $layout-opened-width;

    #smartadmin-main-navigation {
      width: $layout-opened-width;
    }
  }
}
