#napper-admin-navigation {
  @extend .is-fixed;
  // @extend .shadowed;
  @extend .flex-rows;
  @extend .flex-between;
  @extend .no-overflow;

  top: 0;
  left: 0;
  bottom: 0;
  background-color: $black;
  // width: $layout-close-width;
  width: $layout-opened-width;
  transition-duration: 0.5s;
  transition-property: width;

  /*
  .link,
  .toggler {
    color: $gray-0;
  }

  .link {
    color: $white;
  }

  .link:hover,
  .toggler:hover {
    background-color: #22252A;
  }

  .link.active {
    color: $black;
    background-color: $white;
  }
  */
}

/*
#napper-admin-nav-toggler {
  @extend .is-block;
  @extend .no-background;
}
*/

.napper-admin-nav {
  @extend .flex-rows;
  @extend .flex-start;
  // @extend .row-bottom;

  width: 100%;
  display: flex;

  /*
  .icon {
    width: rem(45px);
    min-width: rem(45px);
  }

  .link,
  .toggler {
  }

  .toggler {
    height: rem(30px);
    font-size: rem(8px);
    min-height: rem(30px);
    line-height: rem(30px);
  }

  .link {
    height: rem(45px);
    min-height: rem(45px);
    line-height: rem(45px);
  }
  */
}

.napper-admin-nav + .napper-admin-nav {
  @extend .flex-end;
}

.napper-admin-nav-item {
  // @extend .link;
  @extend .is-block;
  @extend .no-overflow;
  @extend .is-full-width;
}
