$default-padding: 12px !default;

// font-size: .fsN
$FontSizes: (9, 11, 12, 14, 16, 20, 30, 60) !default;

// margin: mN, mxN, myN, mlN, mrN, mtN, mbN
// padding: pN, pxN, pyN, plN, prN, ptN, pbN
$MarginPaddingSizes: (3, 6, 7, 9, 12, 18, 20, 24, 30, 48, 60) !default;

// border: bN, bxN, byN, brN, btN, blN, bbN
// border-radius: rN,
$BorderSizes: (1, 2, 3, 4, 8, 10, 12, 30) !default;

$layout-close-width: 45px;
$layout-opened-width: 200px;

/* ----------------------------------------

  COLORS

---------------------------------------- */

$black: #000000 !default;
$black-0: #000000 !default;
$black-1: #22252b !default;
$black-2: #353843 !default;

$gray: #333333 !default;
$gray-0: #333333 !default;
$gray-1: #666666 !default;
$gray-2: #999999 !default;
$gray-3: #d9d9d9 !default;
$gray-4: #eeeeee !default;

$white: #ffffff !default;
$white-0: #ffffff !default;
$white-1: #f1f1f1 !default;
$white-2: #f5f5f5 !default;
$white-3: #f8f8f8 !default;

$red: #ff0000 !default;
$red-0: #f63f54 !default;
$red-1: #f56853 !default;

$orange: #ff5500 !default;

$blue: #0a6dd9 !default;
$blue-0: #011f4b !default;
$blue-1: #03396c !default;
$blue-2: #005b96 !default;
$blue-3: #6497b1 !default;
$blue-4: #b3cde0 !default;

$yellow: #ffbb00 !default;
$note-0: #856405 !default;
$note-1: #ffeeba !default;
$note-2: #fff4cd !default;

$purple-0: #14134e !default;
$purple-1: #512d5a !default;
$purple-2: #843b61 !default;

$rainbow0: #011f4b !default;
$rainbow1: #03396c !default;
$rainbow2: #005b96 !default;
